<html>
    <head>
        <title>Admission</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="first-div">
            <img src="../static/images/qis_banner.png">
        </div>
        <div class="crud">
           <a href="/register" ><h1>register</h1></a>
           <a href="/update" ><h1>update</h1></a>
            <a href="/view" > <h1>view</h1></a>
            <a href="/delete" ><h1>delete</h1></a>
        </div>

    </body>
</html>