<html>
    <head>
        <title>Admission</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="first-div">
            <img src="../static/images/qis_banner.png">
        </div>
        <div class="delete-div">
            <form action="" method="post" onsubmit="alert('deleted')">
                <form action="" method="post" >
                <input type="number" placeholder="ID" name="id" required>
                <button type="submit">DELETE</button>
            </form>
        </div>
        <script src="../static/js/style.js"></script>
    
    </body>
    </html>

