<html>
    <head>
        <title>Qis College</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="first-div">
            <img src="../static/images/qis_banner.png">
        </div>
        <div class="main-div">
            <div class="left-div">
                <img src="../static/images/admissions.jpg">
            </div>
            <div class="right-div">
                <h1>Manage Admission</h1>
                <img src="../static/images/college.png">
            </div>
            <div class="second-div">
                <p>QIS COLLEGE</p>
                <img src="../static/images/play.jpg">
                <img src="../static/images/students.jpg">
                <img src="../static/images/graduation.jpg">
                <img src="../static/images/class.jpg">
                <img src="../static/images/dining.jpg">
            </div>

        </div>

    </body>
</html>